First, I'll import the necessary packages...

In [ ]:
import pandas as pd
import numpy as np

Now I'll import the DataFrames...

In [ ]:
df_2017 = pd.read_csv('Desktop/df_2017.csv')
df_2018 = pd.read_csv('Desktop/df_2018.csv')
df_2019 = pd.read_csv('Desktop/df_2019.csv')
df_2020 = pd.read_csv('Desktop/df_2020.csv')

# 2017 Data Cleaning

Let's take a look at the 2017 DataFrame.

In [3]:
df_2017.head(5)

,Unnamed: 0,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type
0,0,712382,1/1/2017 0:00,1/1/2017 0:03,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member
1,1,712383,1/1/2017 0:00,1/1/2017 0:05,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member
2,2,712384,1/1/2017 0:05,1/1/2017 0:29,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member
3,3,712385,1/1/2017 0:07,1/1/2017 0:21,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member
4,4,712386,1/1/2017 0:08,1/1/2017 0:12,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member

I'll start by dropping the additional index column.

In [4]:
df_2017.drop('Unnamed: 0', axis=1, inplace=True)

Let's check out the datatypes.

In [32]:
df_2017.dtypes

trip_id                    int64
trip_start_time           object
trip_stop_time            object
trip_duration_seconds      int64
from_station_id          float64
from_station_name         object
to_station_id            float64
to_station_name           object
user_type                 object
dtype: object

One thing I notice is that trip start and stop times are not in date time format. I'd also like to split the date and time into separate columns in case I want to work with one or the other separately in the future.

In [36]:
df_2017['trip_start_time'] = pd.to_datetime(df_2017['trip_start_time'])
df_2017['start_date'] = df_2017['trip_start_time'].dt.strftime('%d/%m/%Y')
df_2017['start_time'] = df_2017['trip_start_time'].dt.strftime('%H:%M')

In [37]:
df_2017.head(5)

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,start_date,start_time
0,712382,2017-01-01 00:00:00,1/1/2017 0:03,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member,01/01/2017,00:00
1,712383,2017-01-01 00:00:00,1/1/2017 0:05,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member,01/01/2017,00:00
2,712384,2017-01-01 00:05:00,1/1/2017 0:29,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member,01/01/2017,00:05
3,712385,2017-01-01 00:07:00,1/1/2017 0:21,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member,01/01/2017,00:07
4,712386,2017-01-01 00:08:00,1/1/2017 0:12,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member,01/01/2017,00:08

In [48]:
df_2017.dtypes

trip_id                           int64
trip_start_time          datetime64[ns]
trip_stop_time                   object
trip_duration_seconds             int64
from_station_id                 float64
from_station_name                object
to_station_id                   float64
to_station_name                  object
user_type                        object
start_date                       object
start_time                       object
dtype: object

Now let's do the same for the trip stop time column...

In [53]:
df_2017['trip_stop_time'] = pd.to_datetime(df_2017['trip_stop_time'], errors='coerce')

In [54]:
df_2017['stop_date'] = df_2017['trip_stop_time'].dt.strftime('%d/%m/%Y')
df_2017['stop_time'] = df_2017['trip_stop_time'].dt.strftime('%H:%M')

In [55]:
df_2017.head(5)

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type,start_date,start_time,stop_date,stop_time
0,712382,2017-01-01 00:00:00,2017-01-01 00:03:00,223,7051.0,Wellesley St E / Yonge St Green P,7089.0,Church St / Wood St,Member,01/01/2017,00:00,01/01/2017,00:03
1,712383,2017-01-01 00:00:00,2017-01-01 00:05:00,279,7143.0,Kendal Ave / Bernard Ave,7154.0,Bathurst Subway Station,Member,01/01/2017,00:00,01/01/2017,00:05
2,712384,2017-01-01 00:05:00,2017-01-01 00:29:00,1394,7113.0,Parliament St / Aberdeen Ave,7199.0,College St W / Markham St,Member,01/01/2017,00:05,01/01/2017,00:29
3,712385,2017-01-01 00:07:00,2017-01-01 00:21:00,826,7077.0,College Park South,7010.0,King St W / Spadina Ave,Member,01/01/2017,00:07,01/01/2017,00:21
4,712386,2017-01-01 00:08:00,2017-01-01 00:12:00,279,7079.0,McGill St / Church St,7047.0,University Ave / Gerrard St W,Member,01/01/2017,00:08,01/01/2017,00:12

Looks good! Let's check out the null values by column.

In [64]:
df_2017.isnull().sum()

trip_id                        0
trip_start_time                0
trip_stop_time                 1
trip_duration_seconds          0
from_station_id          1026893
from_station_name              0
to_station_id            1026893
to_station_name                1
user_type                      0
start_date                     0
start_time                     0
stop_date                      1
stop_time                      1
dtype: int64

I reckon we can drop the from_station_id and to_station_id columns since they're missing so many values and we already have the station names to identify the trips. For the rest of the missing values we can just drop those individual rows as there are very few missing.

In [65]:
df_2017.drop(['from_station_id', 'to_station_id'], axis=1, inplace=True)

In [66]:
df_2017.isnull().sum()

trip_id                  0
trip_start_time          0
trip_stop_time           1
trip_duration_seconds    0
from_station_name        0
to_station_name          1
user_type                0
start_date               0
start_time               0
stop_date                1
stop_time                1
dtype: int64

In [67]:
df_2017.dropna(how='any', axis=0, inplace=True)

In [68]:
df_2017.isnull().sum()

trip_id                  0
trip_start_time          0
trip_stop_time           0
trip_duration_seconds    0
from_station_name        0
to_station_name          0
user_type                0
start_date               0
start_time               0
stop_date                0
stop_time                0
dtype: int64

In [69]:
df_2017.head(5)

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type,start_date,start_time,stop_date,stop_time
0,712382,2017-01-01 00:00:00,2017-01-01 00:03:00,223,Wellesley St E / Yonge St Green P,Church St / Wood St,Member,01/01/2017,00:00,01/01/2017,00:03
1,712383,2017-01-01 00:00:00,2017-01-01 00:05:00,279,Kendal Ave / Bernard Ave,Bathurst Subway Station,Member,01/01/2017,00:00,01/01/2017,00:05
2,712384,2017-01-01 00:05:00,2017-01-01 00:29:00,1394,Parliament St / Aberdeen Ave,College St W / Markham St,Member,01/01/2017,00:05,01/01/2017,00:29
3,712385,2017-01-01 00:07:00,2017-01-01 00:21:00,826,College Park South,King St W / Spadina Ave,Member,01/01/2017,00:07,01/01/2017,00:21
4,712386,2017-01-01 00:08:00,2017-01-01 00:12:00,279,McGill St / Church St,University Ave / Gerrard St W,Member,01/01/2017,00:08,01/01/2017,00:12

Everything looks good! Now I'll save the cleaned DataFrame to csv.

In [70]:
df_2017.to_csv('Desktop/to_bikeshare_project/df_2017.csv')

---------------------

# 2018 Data Cleaning

In [71]:
df_2018.head(5)

,Unnamed: 0,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type
0,0,2383648,393,7018,1/1/2018 0:47,Bremner Blvd / Rees St,1/1/2018 0:54,7176,Bathurst St / Fort York Blvd,Annual Member
1,1,2383649,625,7184,1/1/2018 0:52,Ossington Ave / College St,1/1/2018 1:03,7191,Central Tech (Harbord St),Annual Member
2,2,2383650,233,7235,1/1/2018 0:55,Bay St / College St (West Side) - SMART,1/1/2018 0:59,7021,Bay St / Albert St,Annual Member
3,3,2383651,1138,7202,1/1/2018 0:57,Queen St W / York St (City Hall),1/1/2018 1:16,7020,Phoebe St / Spadina Ave,Annual Member
4,4,2383652,703,7004,1/1/2018 1:00,University Ave / Elm St,1/1/2018 1:12,7060,Princess St / Adelaide St E,Annual Member

I'll start by dropping the additional index column...

In [72]:
df_2018.drop('Unnamed: 0', axis=1, inplace=True)

Let's check out the dtypes...

In [74]:
df_2018.dtypes

trip_id                   int64
trip_duration_seconds     int64
from_station_id           int64
trip_start_time          object
from_station_name        object
trip_stop_time           object
to_station_id             int64
to_station_name          object
user_type                object
dtype: object

Again, the dtypes are fine other than the start and stop times. I'll do the same process as I did for the 2017 DataFrame.

In [75]:
df_2018['trip_start_time'] = pd.to_datetime(df_2018['trip_start_time'])
df_2018['start_date'] = df_2018['trip_start_time'].dt.strftime('%d/%m/%Y')
df_2018['start_time'] = df_2018['trip_start_time'].dt.strftime('%H:%M')

In [76]:
df_2018['trip_stop_time'] = pd.to_datetime(df_2018['trip_stop_time'])
df_2018['stop_date'] = df_2018['trip_stop_time'].dt.strftime('%d/%m/%Y')
df_2018['stop_time'] = df_2018['trip_stop_time'].dt.strftime('%H:%M')

In [77]:
df_2018.head(5)

,trip_id,trip_duration_seconds,from_station_id,trip_start_time,from_station_name,trip_stop_time,to_station_id,to_station_name,user_type,start_date,start_time,stop_date,stop_time
0,2383648,393,7018,2018-01-01 00:47:00,Bremner Blvd / Rees St,2018-01-01 00:54:00,7176,Bathurst St / Fort York Blvd,Annual Member,01/01/2018,00:47,01/01/2018,00:54
1,2383649,625,7184,2018-01-01 00:52:00,Ossington Ave / College St,2018-01-01 01:03:00,7191,Central Tech (Harbord St),Annual Member,01/01/2018,00:52,01/01/2018,01:03
2,2383650,233,7235,2018-01-01 00:55:00,Bay St / College St (West Side) - SMART,2018-01-01 00:59:00,7021,Bay St / Albert St,Annual Member,01/01/2018,00:55,01/01/2018,00:59
3,2383651,1138,7202,2018-01-01 00:57:00,Queen St W / York St (City Hall),2018-01-01 01:16:00,7020,Phoebe St / Spadina Ave,Annual Member,01/01/2018,00:57,01/01/2018,01:16
4,2383652,703,7004,2018-01-01 01:00:00,University Ave / Elm St,2018-01-01 01:12:00,7060,Princess St / Adelaide St E,Annual Member,01/01/2018,01:00,01/01/2018,01:12

Looks good! Let's check for null values....

In [79]:
df_2018.isnull().sum()

trip_id                  0
trip_duration_seconds    0
from_station_id          0
trip_start_time          0
from_station_name        0
trip_stop_time           0
to_station_id            0
to_station_name          0
user_type                0
start_date               0
start_time               0
stop_date                0
stop_time                0
dtype: int64

Great! No null values in the 2018 DataFrame.

Now I'll save the cleaned DataFrame to csv...

In [89]:
df_2018.to_csv('Desktop/to_bikeshare_project/df_2018.csv')

------------

# 2019 Data Cleaning

In [80]:
df_2019.head(5)

,Unnamed: 0,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,0,4581278,1547.0,7021,01/01/2019 00:08,Bay St / Albert St,7233.0,01/01/2019 00:33,King / Cowan Ave - SMART,1296,Annual Member
1,1,4581279,1112.0,7160,01/01/2019 00:10,King St W / Tecumseth St,7051.0,01/01/2019 00:29,Wellesley St E / Yonge St (Green P),2947,Annual Member
2,2,4581280,589.0,7055,01/01/2019 00:15,Jarvis St / Carlton St,7013.0,01/01/2019 00:25,Scott St / The Esplanade,2293,Annual Member
3,3,4581281,259.0,7012,01/01/2019 00:16,Elizabeth St / Edward St (Bus Terminal),7235.0,01/01/2019 00:20,Bay St / College St (West Side) - SMART,283,Annual Member
4,4,4581282,281.0,7041,01/01/2019 00:19,Edward St / Yonge St,7257.0,01/01/2019 00:24,Dundas St W / St. Patrick St,1799,Annual Member

Dropping the extra index column...

In [81]:
df_2019.drop('Unnamed: 0', axis=1, inplace=True)

Checking the data types...

In [82]:
df_2019.dtypes

Trip Id                 int64
Trip  Duration        float64
Start Station Id        int64
Start Time             object
Start Station Name     object
End Station Id        float64
End Time               object
End Station Name       object
Bike Id                 int64
User Type              object
dtype: object

Datatypes are fine other than the start and end times again. I'll do the same process as with the previous DataFrames....

In [83]:
df_2019['Start Time'] = pd.to_datetime(df_2019['Start Time'])
df_2019['start_date'] = df_2019['Start Time'].dt.strftime('%d/%m/%Y')
df_2019['start_time'] = df_2019['Start Time'].dt.strftime('%H:%M')

In [84]:
df_2019['End Time'] = pd.to_datetime(df_2019['End Time'])
df_2019['stop_date'] = df_2019['End Time'].dt.strftime('%d/%m/%Y')
df_2019['stop_time'] = df_2019['End Time'].dt.strftime('%H:%M')

In [85]:
df_2019.head(5)

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,start_date,start_time,stop_date,stop_time
0,4581278,1547.0,7021,2019-01-01 00:08:00,Bay St / Albert St,7233.0,2019-01-01 00:33:00,King / Cowan Ave - SMART,1296,Annual Member,01/01/2019,00:08,01/01/2019,00:33
1,4581279,1112.0,7160,2019-01-01 00:10:00,King St W / Tecumseth St,7051.0,2019-01-01 00:29:00,Wellesley St E / Yonge St (Green P),2947,Annual Member,01/01/2019,00:10,01/01/2019,00:29
2,4581280,589.0,7055,2019-01-01 00:15:00,Jarvis St / Carlton St,7013.0,2019-01-01 00:25:00,Scott St / The Esplanade,2293,Annual Member,01/01/2019,00:15,01/01/2019,00:25
3,4581281,259.0,7012,2019-01-01 00:16:00,Elizabeth St / Edward St (Bus Terminal),7235.0,2019-01-01 00:20:00,Bay St / College St (West Side) - SMART,283,Annual Member,01/01/2019,00:16,01/01/2019,00:20
4,4581282,281.0,7041,2019-01-01 00:19:00,Edward St / Yonge St,7257.0,2019-01-01 00:24:00,Dundas St W / St. Patrick St,1799,Annual Member,01/01/2019,00:19,01/01/2019,00:24

Looks good! Let's check for null values...

In [87]:
df_2019.isnull().sum()

Trip Id                 0
Trip  Duration         16
Start Station Id        0
Start Time              0
Start Station Name      0
End Station Id        454
End Time                0
End Station Name      454
Bike Id                 0
User Type               0
start_date              0
start_time              0
stop_date               0
stop_time               0
dtype: int64

Because we have several million rows in this dataset, I think I'll just go ahead and drop the rows with null values, since there are only a few hundred.

In [88]:
df_2019.dropna(how='any', axis=0, inplace=True)

In [90]:
df_2019.isnull().sum()

Trip Id               0
Trip  Duration        0
Start Station Id      0
Start Time            0
Start Station Name    0
End Station Id        0
End Time              0
End Station Name      0
Bike Id               0
User Type             0
start_date            0
start_time            0
stop_date             0
stop_time             0
dtype: int64

Great, now i'll save to csv...

In [91]:
df_2019.to_csv('Desktop/to_bikeshare_project/df_2019.csv')

------

# 2020 Data Cleaning

In [92]:
df_2020.head(5)

,Unnamed: 0,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,0,7334128,648,7003,01/01/2020 00:08,Madison Ave / Bloor St W,7271.0,01/01/2020 00:19,Yonge St / Alexander St - SMART,3104,Annual Member
1,1,7334129,419,7007,01/01/2020 00:10,College St / Huron St,7163.0,01/01/2020 00:17,Yonge St / Wood St,2126,Annual Member
2,2,7334130,566,7113,01/01/2020 00:13,Parliament St / Aberdeen Ave,7108.0,01/01/2020 00:22,Front St E / Cherry St,4425,Annual Member
3,3,7334131,1274,7333,01/01/2020 00:17,King St E / Victoria St,7311.0,01/01/2020 00:38,Sherbourne St / Isabella St,4233,Annual Member
4,4,7334132,906,7009,01/01/2020 00:19,King St E / Jarvis St,7004.0,01/01/2020 00:34,University Ave / Elm St,2341,Casual Member

Dropping the extra index column...

In [93]:
df_2020.drop('Unnamed: 0', axis=1, inplace=True)

Checking data types...

In [94]:
df_2020.dtypes

Trip Id                int64
Trip  Duration         int64
Start Station Id      object
Start Time            object
Start Station Name    object
End Station Id        object
End Time              object
End Station Name      object
Bike Id               object
User Type             object
dtype: object

We can see that in this DataFrame most of the columns are of the object dtype, which is fine for the most part. Just like with the previous columns I'll change the Start and End Times to datetime, and then split into separate columns for finer control if desired in the future.

In [96]:
df_2020['Start Time'] = pd.to_datetime(df_2020['Start Time'], errors='coerce')
df_2020['start_date'] = df_2020['Start Time'].dt.strftime('%d/%m/%Y')
df_2020['start_time'] = df_2020['Start Time'].dt.strftime('%H:%M')

In [97]:
df_2020['End Time'] = pd.to_datetime(df_2020['End Time'], errors='coerce')
df_2020['stop_date'] = df_2020['End Time'].dt.strftime('%d/%m/%Y')
df_2020['stop_time'] = df_2020['End Time'].dt.strftime('%H:%M')

In [98]:
df_2020.head(5)

,Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,start_date,start_time,stop_date,stop_time
0,7334128,648,7003,2020-01-01 00:08:00,Madison Ave / Bloor St W,7271.0,2020-01-01 00:19:00,Yonge St / Alexander St - SMART,3104,Annual Member,01/01/2020,00:08,01/01/2020,00:19
1,7334129,419,7007,2020-01-01 00:10:00,College St / Huron St,7163.0,2020-01-01 00:17:00,Yonge St / Wood St,2126,Annual Member,01/01/2020,00:10,01/01/2020,00:17
2,7334130,566,7113,2020-01-01 00:13:00,Parliament St / Aberdeen Ave,7108.0,2020-01-01 00:22:00,Front St E / Cherry St,4425,Annual Member,01/01/2020,00:13,01/01/2020,00:22
3,7334131,1274,7333,2020-01-01 00:17:00,King St E / Victoria St,7311.0,2020-01-01 00:38:00,Sherbourne St / Isabella St,4233,Annual Member,01/01/2020,00:17,01/01/2020,00:38
4,7334132,906,7009,2020-01-01 00:19:00,King St E / Jarvis St,7004.0,2020-01-01 00:34:00,University Ave / Elm St,2341,Casual Member,01/01/2020,00:19,01/01/2020,00:34

Looks good! Let's check for null values...

In [100]:
df_2020.isnull().sum()

Trip Id                  0
Trip  Duration           0
Start Station Id         0
Start Time             249
Start Station Name     793
End Station Id        1301
End Time               249
End Station Name      2049
Bike Id                 73
User Type              249
start_date             249
start_time             249
stop_date              249
stop_time              249
dtype: int64

There aren't many null values, especially with respect to the total number of rows. I'll drop these rows with null values...

In [101]:
df_2020.dropna(how='any', axis=0, inplace=True)

In [102]:
df_2020.isnull().sum()

Trip Id               0
Trip  Duration        0
Start Station Id      0
Start Time            0
Start Station Name    0
End Station Id        0
End Time              0
End Station Name      0
Bike Id               0
User Type             0
start_date            0
start_time            0
stop_date             0
stop_time             0
dtype: int64

Great! Now i'll save to csv and we're done with data cleaning for now.

In [103]:
df_2020.to_csv('Desktop/to_bikeshare_project/df_2020.csv')